/* Message Box */
.message-box {
	--color-message-box: rgb(183, 240, 166);
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: var(--color-message-box);
	color: var(--color-gray-90);
	padding: 1em 0.625em; /* 16px 10px /16 */
	border-radius: 8px;
}
.message-box ol {
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #082840;
	}
}

.profile-picture {
	text-align: left;
}