---
layout: layouts/base.njk
---
{# {%- css %}{% include "public/css/message-box.css" %}{% endcss %}

<div class="message-box message-box-green">
	Markdown files transformed into HTML by <b>Morgan Murrah</b>
</div> #}
{{ content | safe }}
</div>