---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>Digital gardening and blogging some good thoughts into Markdown then transformed into HTML</p> by <b>Morgan Murrah</b>
</div>
{{ content | safe }}

