---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>Cultivating some good thoughts and sharing them on the web</p>
</div>
{{ content | safe }}
